<a href="https://colab.research.google.com/github/Kuakun55/Stock-price-predicton-Tsla/blob/main/multiple_linear_regression_Tsla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np

In [ ]:

df=pd.read_csv("TSLA.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...,...
3187,2023-02-27,202.029999,209.419998,201.259995,207.630005,207.630005,161028300
3188,2023-02-28,210.589996,211.229996,203.750000,205.710007,205.710007,153144900
3189,2023-03-01,206.210007,207.199997,198.520004,202.770004,202.770004,156852800
3190,2023-03-02,186.740005,193.750000,186.009995,190.899994,190.899994,181500700
3191,2023-03-03,194.800003,200.479996,192.880005,197.789993,197.789993,153800400

In [ ]:
df.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999721  0.999600  0.999190   0.999190  0.074864
High       0.999721  1.000000  0.999609  0.999634   0.999634  0.078636
Low        0.999600  0.999609  1.000000  0.999673   0.999673  0.071284
Close      0.999190  0.999634  0.999673  1.000000   1.000000  0.075829
Adj Close  0.999190  0.999634  0.999673  1.000000   1.000000  0.075829
Volume     0.074864  0.078636  0.071284  0.075829   0.075829  1.000000

In [ ]:
X=df[['Open','High','Low','Volume']]
y= df['Close']

In [ ]:
lms=LinearRegression()
lms.fit(X,y)

LinearRegression()

In [ ]:
predictions=lms.predict(X)
predictions

array([  1.65472367,   1.96011993,   1.50121197, ..., 200.81383434,
       192.1864952 , 198.11749397])

In [ ]:
from sklearn  import metrics
metrics.mean_absolute_error(y,predictions)

0.6358584981465913

In [ ]:
lms.predict([[230,270,260,18000000]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([288.65224629])